body {
    font-family: Arial, sans-serif;
    background-color: #3e4446fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  form  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calculator {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  form input, form button {
    width: auto;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .output {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    background-color: rgb(87, 87, 87);
    padding: 20px;
    border-radius: 10px;
  }
  